<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arvind.hackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" />
        <activity android:name=".Profile" />
        <activity android:name=".Public" />
        <activity android:name=".Government" />
        <activity android:name=".NavigationBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".NavigationBar2" />
        <activity android:name=".GovtProfile" />
        <activity android:name=".GovtDetails" />

        <service android:name=".ServiceLocation" />
        <service android:name=".ServiceNearByLocation" />

        <activity android:name=".ChooseBus" />
        <activity android:name=".EditBus" />
        <activity android:name=".FinalPublic" />
        <activity android:name=".Location1" />
        <activity android:name=".Aadhar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Schedule"></activity>
    </application>

</manifest>